body {
    background-color: rgb(255, 255, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    gap: 50px;
}

button {
    background-color: #3882F6;
    color: #f0f2f7;
    padding: 15px;
    border: none;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;

}

#buttons {
    display: flex;
    gap: 25px;
}